//iPhone 6/7/8
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
{
    #search-bar-content{
        margin: 100px 0 25px 0;
        #search-wrapper #search-bar-textbox{
            font-size: 1em;
            width: 330px;
        }
    }
    #result-content{
        #result-wrapper{
            padding-top: 120px;
            #result{
                width: 320px;
                #arrow-container{
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    transform: rotate(180deg);
                    #arrow-symbol{
                        margin: 0;
                        padding-bottom: 60px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    #result-content:hover{
        pointer-events: none;
    }
    #contact-form-overlay #contact-form-overlay-background {
        #contact-form-popup{
            width: 320px;
            height: 580px;
            padding: 20px;
            #contact-form-popup-msg{
                margin: 10px 0px 15px 0px;
                width: 320px;
            }
            #contact-form{
                width: 320px;
                #input-text-1{
                    width: 60%;
                    font-size: 16px;
                }
                #input-text-2{
                    width: 305px;
                    height: 220px;
                    font-size: 17px;
                }
                #contact-form-submit{
                    margin-left: 60px;
                    margin-right: auto;
                }
            }
            #close-button{
                margin: 0 auto 0 130px;
            }
        }
    }
}