body {
    background-color: #2d3436;
}
.Slider {
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.459);
}
#search-bar-content #search #search-bar-textbox {
    border-color: #2d3436;
    color: #dfe6e9c0;
}
#search-bar-content #search #search-bar-textbox:focus {
    border-color: #bdc3c7;
    color: #dfe6e9c0;
}
#result-content {
    #result-wrapper {
        #result{
            color: #ecf0f1;
            #arrow-container #arrow-symbol {
                color: #95a5a6;
            }
        }
    }
}
#body-main-footer-credit-wrapper {
    #credit{
        color: #7f8c8d;
        #contact-button{
            color: #7f8c8d;
        }
        #contact-button:hover{
            color: #bdc3c7;
        }
    }
    #copyright{
        color: #7f8c8d;
    }
}
.Contact-Form-Content#load {
    #contact-form-popup {
        background-color: #3b4547;

        #contact-form-popup-msg {
            color: #ecf0f1;
        }

        #contact-form {
            #input-text-1 {
                background-color: #5d6d70;
                border-color: #bdc3c7;
                color: #ecf0f1;
            }
            #input-text-2 {
                background-color: #5d6d70;
                border-color: #bdc3c7;
                color: #ecf0f1;
            }
            #input-text-1:focus {
                box-shadow: inset 0 0 16px 1px rgba(0, 0, 0, 0.349);
            }
            #input-text-2:focus {
                box-shadow: inset 0 0 16px 1px rgba(0, 0, 0, 0.349);
            }
            #contact-form-send {
                background-color: #5d6d70;
                color: #ecf0f1;
            }
            #contact-form-send:hover {
                background-color: #226d99;//#748081;
                color: #ecf0f1;
            }
        }
    }
}