//iPhone 6/7/8
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
{
    body .Grid-Container {
        .Darkmode-Toggle-Container {
            padding: 0;
            padding-top: 8px;
            padding-bottom: 10px;
            height: 25px;
            justify-content: center;
            align-content: flex-end;
            grid-row: 3;
        }
        .Body-Main-Container #search-bar-content {
            margin: 80px 0 25px 0;
            #search #search-bar-textbox {
                font-size: 1em;
                width: 330px;
            }
        }
        #result-content {
            height: auto;
            #result-wrapper {
                #result {
                    margin-top: 100px;
                    width: 320px;
                }
            }
        }
        #result-content:hover {
            pointer-events: none;
        }
    }
    .Contact-Form-Content {
        #contact-form-popup {
            width: 320px;
            height: 580px;
            padding: 20px;
            #contact-form-popup-msg {
                margin: 10px 0px 15px 0px;
                width: 320px;
            }
            #contact-form {
                width: 320px;
                #input-text-1 {
                    width: 60%;
                    font-size: 16px;
                }
                #input-text-2 {
                    width: 305px;
                    height: 220px;
                    font-size: 17px;
                }
                #contact-form-send{
                    margin-left: 60px;
                    margin-right: auto;
                }
            }
            #close-button{
                margin: 0 auto 0 130px;
            }
        }
    }
}