//iPhone 6/7/8 Plus
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
{
    body .Grid-Container {
        .Body-Main-Container #search-bar-content {
            margin: 80px 0 35px 0;
            .Search-Bar-Textbox#load {
                font-size: 1.1em;
                width: 350px;
            }
        }
        #result-content { 
            #result-wrapper {
                #result {
                    margin-top: 80px;
                    width: 380px;
                    font-size: 2.2em;
                }
            }
        }
        #result-content:hover{
            pointer-events: none;
        }
    }
    .Contact-Form-Content#load { 
        #contact-form-popup {
            width: 350px;
            height: 500px;
            padding: 20px;
            #contact-form-popup-msg {
                width: 345px;
                margin: 8px 0 20px 0;
            }
            #contact-form {
                
                #input-text-1 {
                    width: 350px;
                    font-size: 16px;
                }
                #input-text-2 {
                    width: 350px;
                    height: 220px;
                    order: 3;
                    font-size: 17px;
                }
                #contact-form-send {
                    margin: 0 100px;
                    font-size: 14px;
                    order: 4;
                }
                #close-button {
                    margin: auto;
                    font-size: 13px;
                    order: 5;
                    
                }
            }
            }
    }
}