// THEME COLOR PALETTE
$theme_color_1: #2d3436;;
$theme_color_2: #34495e;
$theme_color_3: #7f8c8d;
$theme_color_4: #95a5a6;
$theme_color_5: #bdc3c7;
$theme_color_6: #ecf0f1;
$theme_color_7: #8e44ad;
$theme_color_8: #9b59b6;
$theme_color_9: #3498db;
$theme_color_10: #2980b9;
$theme_color_11: #e74c3c;
$theme_color_12: #c0392b;
$theme_color_14: #d35400;
$theme_color_15: #e67e22;
$theme_color_16: #27ae60;
$theme_color_17: #2ecc71;
$theme_color_18: #1abc9c;
$theme_color_19: #16a085;
$theme_color_20: #f1c40f;
$theme_color_21: #f39c12;


// FONT VARIABLES
$font_primary_family: 'Times Roman';
$font_primary_color: #3a3a3a;
$font_secondary_color: #777777;

$credit_font_size: 14px;