// THEME COLOR PALETTE
$theme_color_1: #e08d73;
$theme_color_2: #46657c;
$theme_color_3: #95a5a6;
$theme_color_4: #cddcdf;
$theme_color_5: #c0c0c0;
$theme_color_6: #eeefea;

// FONT VARIABLES
$font_timesroman: 'Times Roman';
$font_nunito: 'Nunito Sans', sans-serif;
$font_barlow: 'Barlow', sans-serif;
$font_rasa: 'Rasa';
$font_montserrat: 'Montserrat';
$font_notosans: 'Noto+Sans';
$font_raleway: 'Raleway';
$font_roboto: 'Roboto';
$font_robotoslab: 'Roboto+Slab';

$font_primary_color: #3a3a3a;


$font_secondary_color: #777777;

$credit_font_size: 14px;