@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  body .Grid-Container .Darkmode-Toggle-Container {
    padding: 0;
    padding-top: 8px;
    height: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-grid-row: 3;
    grid-row: 3; }
  body .Grid-Container .Body-Main-Container #search-bar-content {
    margin: 100px 0 35px 0; }
    body .Grid-Container .Body-Main-Container #search-bar-content #search #search-bar-textbox {
      font-size: 1.1em;
      width: 350px; }
  body .Grid-Container #result-content #result-wrapper {
    height: 470px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .Grid-Container #result-content #result-wrapper #result {
      width: 380px; }
  body .Grid-Container #result-content:hover {
    pointer-events: none; }
  .Contact-Form-Content#load #contact-form-popup {
    width: 350px;
    height: 500px;
    padding: 20px; }
    .Contact-Form-Content#load #contact-form-popup #contact-form-popup-msg {
      width: 345px;
      margin: 8px 0 20px 0; }
    .Contact-Form-Content#load #contact-form-popup #contact-form {
      width: 330px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1 {
        width: 40%;
        font-size: 16px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-2 {
        width: 330px;
        height: 220px;
        font-size: 17px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #contact-form-submit {
        margin-left: 70px;
        margin-right: auto;
        font-size: 14px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1:focus {
        width: 60%; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1:not(:placeholder-shown) {
        width: 60%; }
    .Contact-Form-Content#load #contact-form-popup #close-button {
      margin: 0 auto 0 136px;
      font-size: 13px; } }
