@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  body .Grid-Container .Darkmode-Toggle-Container {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 10px;
    height: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-grid-row: 3;
    grid-row: 3; }
  body .Grid-Container .Body-Main-Container #search-bar-content {
    margin: 80px 0 25px 0; }
    body .Grid-Container .Body-Main-Container #search-bar-content #search #search-bar-textbox {
      font-size: 1em;
      width: 330px; }
  body .Grid-Container #result-content {
    height: auto; }
    body .Grid-Container #result-content #result-wrapper #result {
      margin-top: 100px;
      width: 320px; }
  body .Grid-Container #result-content:hover {
    pointer-events: none; }
  .Contact-Form-Content #contact-form-popup {
    width: 320px;
    height: 580px;
    padding: 20px; }
    .Contact-Form-Content #contact-form-popup #contact-form-popup-msg {
      margin: 10px 0px 15px 0px;
      width: 320px; }
    .Contact-Form-Content #contact-form-popup #contact-form {
      width: 320px; }
      .Contact-Form-Content #contact-form-popup #contact-form #input-text-1 {
        width: 60%;
        font-size: 16px; }
      .Contact-Form-Content #contact-form-popup #contact-form #input-text-2 {
        width: 305px;
        height: 220px;
        font-size: 17px; }
      .Contact-Form-Content #contact-form-popup #contact-form #contact-form-send {
        margin-left: 60px;
        margin-right: auto; }
    .Contact-Form-Content #contact-form-popup #close-button {
      margin: 0 auto 0 130px; } }
