#credit {
  font-size: 14px;
  color: #7a7a7a; }

#copyright {
  font-size: 14px;
  color: #7a7a7a; }

body {
  margin: 0;
  display: block; }

.Body-Main-Container {
  margin: 0px;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Body-Main-Content {
  margin: 0; }

.Body-Main-Footer {
  margin-top: auto; }

.Main-Main-Content-Container {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Body-Main-Footer-Container {
  margin: 0;
  margin-bottom: 5px; }

#search-bar-content {
  margin: 100px 0px 40px 0px; }
  #search-bar-content #search-wrapper {
    margin: 0; }
    #search-bar-content #search-wrapper #search {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
    #search-bar-content #search-wrapper #search-bar-textbox {
      background: transparent;
      margin: 0px;
      padding-bottom: 3px;
      width: 500px;
      border: none;
      border-bottom: 2px solid #efefef;
      -webkit-transition: border-bottom 0.1s ease-in-out;
      -o-transition: border-bottom 0.1s ease-in-out;
      transition: border-bottom 0.1s ease-in-out;
      font-size: 14px;
      text-align: center;
      color: #b9b9b9; }
    #search-bar-content #search-wrapper #search-bar-textbox:focus {
      border-bottom: 2.5px solid #6bf;
      color: #919191; }
    #search-bar-content #search-wrapper #search-button {
      padding: 3px 14px;
      -webkit-transition: background 0.1s ease-in-out;
      -o-transition: background 0.1s ease-in-out;
      transition: background 0.1s ease-in-out;
      border: none;
      border-radius: 8px;
      background: #a6d6fc;
      font-size: 13px;
      color: white; }
    #search-bar-content #search-wrapper #search-button:hover {
      background: #6bf;
      color: #3a3a3a;
      cursor: pointer; }

#result-content {
  margin: 0;
  background: transparent; }
  #result-content #result-wrapper {
    margin: 0;
    padding-top: 190px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center; }
    #result-content #result-wrapper #result {
      margin: 0;
      position: relative;
      font-size: 2em;
      text-align: center;
      opacity: 0;
      -webkit-transition: opacity 2s ease-in;
      -moz-transition: opacity 2s ease-in;
      -o-transition: opacity 2s ease-in;
      -ms-transition: opacity 2s ease-in;
      transition: opacity 2s ease-in; }
      #result-content #result-wrapper #result #keep-up-message {
        margin: 0; }
      #result-content #result-wrapper #result #arrow-symbol {
        margin: 0;
        -webkit-transition: margin-top 0.1s ease-in-out;
        -o-transition: margin-top 0.1s ease-in-out;
        transition: margin-top 0.1s ease-in-out;
        font-size: 1.3em;
        color: black;
        -webkit-transition: -webkit-transform 240ms ease-in-out;
        transition: -webkit-transform 240ms ease-in-out;
        -o-transition: transform 240ms ease-in-out;
        transition: transform 240ms ease-in-out;
        transition: transform 240ms ease-in-out, -webkit-transform 240ms ease-in-out; }
    #result-content #result-wrapper #result:hover #arrow-symbol {
      -webkit-transform: translateY(185px) rotate(180deg);
      -ms-transform: translateY(185px) rotate(180deg);
      transform: translateY(185px) rotate(180deg);
      -webkit-animation: blur 150ms;
      animation: blur 150ms; }
    #result-content #result-wrapper #result.load {
      opacity: 1; }

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px); }
  25% {
    -webkit-filter: blur(0.45px); }
  50% {
    -webkit-filter: blur(0.9px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  75% {
    -webkit-filter: blur(0.55px); } }

@keyframes blur {
  0% {
    -webkit-filter: blur(0px); }
  25% {
    -webkit-filter: blur(0.45px); }
  50% {
    -webkit-filter: blur(0.9px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  75% {
    -webkit-filter: blur(0.55px); } }

#body-main-footer-credit-wrapper {
  margin: 0;
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#contactformbutton {
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  font-family: "Times Roman";
  font-size: 14px;
  color: #7a7a7a;
  -webkit-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out; }

#contactformbutton:hover {
  color: #6bf;
  cursor: pointer; }

#contact-form-overlay {
  margin: 0;
  display: none;
  position: fixed;
  min-width: 100vw;
  height: 100%;
  z-index: 1; }
  #contact-form-overlay #contact-form-overlay-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in; }
    #contact-form-overlay #contact-form-overlay-background #contact-form-popup {
      width: 550px;
      height: 560px;
      padding: 30px 30px 30px 55px;
      border-radius: 25px;
      background: white; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contract-form-popup-msg {
        width: 516px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 13px;
        font-family: 'Verdana';
        line-height: 1.5em; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-1 {
          padding: 8px;
          margin-bottom: 8px;
          width: 50%;
          border: 1.5px solid #aaa;
          border-radius: 6px;
          outline: none;
          -webkit-transition: border 0.1s ease-in-out;
          -o-transition: border 0.1s ease-in-out;
          transition: border 0.1s ease-in-out;
          font-family: 'Verdana';
          font-size: 12px; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-2 {
          margin-bottom: 15px;
          padding-top: 8px;
          padding-left: 8px;
          padding-right: 0.4em;
          padding-bottom: 0.4em;
          height: 250px;
          width: 500px;
          border: 1.5px solid #aaa;
          border-radius: 6px;
          outline: none;
          -webkit-transition: border 0.1s ease-in-out;
          -o-transition: border 0.1s ease-in-out;
          transition: border 0.1s ease-in-out;
          text-align: top;
          resize: none;
          font-family: 'Verdana';
          font-size: 12px;
          line-height: 1.6em; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-1:focus {
          border: 1.5px solid #6bf; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-2:focus {
          border: 1.5px solid #6bf; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #contact-form-submit {
          margin: 0 155px 0 164px;
          padding: 10px 15px 10px 15px;
          width: 200px;
          background: #6bf;
          border-radius: 6px;
          border: none;
          -webkit-transition: background 0.1s ease-in-out;
          -o-transition: background 0.1s ease-in-out;
          transition: background 0.1s ease-in-out;
          font-size: 12px; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #contact-form-submit:hover {
          cursor: pointer;
          background: #8ecafc;
          margin: 0.5px 155px 0 164.5px; }
    #contact-form-overlay #contact-form-overlay-background #close-button-wrapper {
      background: transparent;
      position: absolute;
      margin: 570px 0px 0px 0px; }
      #contact-form-overlay #contact-form-overlay-background #close-button-wrapper #close-button {
        font-family: 'Verdana';
        font-size: 12px;
        text-decoration: none;
        color: #aaa; }
      #contact-form-overlay #contact-form-overlay-background #close-button-wrapper #close-button:hover {
        color: #ff6666;
        cursor: pointer; }
  #contact-form-overlay #contact-form-overlay-background.load {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in; }
  #contact-form-overlay #contact-form-overlay-background.unload {
    opacity: 0; }

/*# sourceMappingURL=main.css.map */