html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #46657c;
  -webkit-transition: background-color 700ms ease-in-out;
  -ms-transition: background-color 700ms ease-in-out;
  -moz-transition: background-color 700ms ease-in-out;
  -o-transition: background-color 700ms ease-in-out;
  transition: background-color 700ms ease-in-out; }

.Grid-Container {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1; }

.Body-Main-Container {
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Body-Main-Content {
  margin: 0; }

.Body-Main-Footer {
  margin-top: auto; }

.Main-Main-Content-Container {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Body-Main-Footer-Container {
  margin: 0; }

#search-bar-content {
  margin: 50px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #search-bar-content .Search-Bar-Textbox {
    background: #eeefea;
    margin: 0px;
    padding: 8px 0px;
    width: 20px;
    border-radius: 20px;
    font-size: 14px;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out;
    -moz-transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out;
    -o-transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out;
    -ms-transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in, width 700ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
    transition: opacity 300ms ease-in, width 700ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
    transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out;
    transition: opacity 300ms ease-in, width 700ms ease-in-out, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out; }
  #search-bar-content .Search-Bar-Textbox#load {
    background: #eeefea;
    margin: 0px;
    padding: 8px 0px;
    width: 500px;
    border: none;
    border-radius: 20px;
    font-family: "Raleway";
    font-size: 14px;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  #search-bar-content .Search-Bar-Textbox#load:hover {
    -webkit-box-shadow: 0px 5px 12px 0 #223341;
    box-shadow: 0px 5px 12px 0 #223341; }
  #search-bar-content .Search-Bar-Textbox#load:focus {
    outline: none;
    -webkit-box-shadow: 0px 5px 12px 0 #223341;
    box-shadow: 0px 5px 12px 0 #223341; }

#result-content {
  margin: 0; }
  #result-content #result-wrapper {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #result-content #result-wrapper #result {
      margin: 0;
      position: relative;
      font-size: 2.4em;
      text-align: center;
      font-family: "Raleway";
      letter-spacing: 1px;
      color: #eeefea;
      opacity: 0;
      -webkit-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -moz-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -o-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -ms-transition: opacity 2s ease-in, color 400ms ease-in-out;
      transition: opacity 2s ease-in, color 400ms ease-in-out;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #result-content #result-wrapper #result #keep-up-message {
        margin: 0; }
      #result-content #result-wrapper #result #arrow-container {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol {
          width: 100px;
          height: 100px;
          font-size: 1.3em;
          color: #eeefea;
          pointer-events: none;
          opacity: 0;
          -webkit-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -moz-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -o-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -ms-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -webkit-transition: opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out;
          transition: opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          transition: transform 200ms ease-in-out, opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out; }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol.fadein {
          opacity: 1; }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol.fadeout {
          opacity: 0; }
    #result-content #result-wrapper #result.load {
      opacity: 1; }

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0%); }
  25% {
    -webkit-filter: blur(0.6px); }
  50% {
    -webkit-filter: blur(1.3px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  0% {
    -moz-filter: blur(0px); }
  25% {
    -moz-filter: blur(0.6px); }
  50% {
    -moz-filter: blur(1.3px); }
  75% {
    -moz-filter: blur(0.55px); }
  100% {
    -moz-filter: blur(0px); } }

@keyframes blur {
  0% {
    -webkit-filter: blur(0%); }
  25% {
    -webkit-filter: blur(0.6px); }
  50% {
    -webkit-filter: blur(1.3px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  0% {
    -moz-filter: blur(0px); }
  25% {
    -moz-filter: blur(0.6px); }
  50% {
    -moz-filter: blur(1.3px); }
  75% {
    -moz-filter: blur(0.55px); }
  100% {
    -moz-filter: blur(0px); } }

.Footer-Flux-Container {
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1; }
  .Footer-Flux-Container #credit {
    display: block;
    color: #cddcdf;
    opacity: 0;
    -webkit-transition: opacity 800ms ease-in;
    -moz-transition: opacity 800ms ease-in;
    -o-transition: opacity 800ms ease-in;
    -ms-transition: opacity 800ms ease-in;
    transition: opacity 800ms ease-in; }
  .Footer-Flux-Container #credit.load {
    display: block;
    color: #cddcdf;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    .Footer-Flux-Container #credit.load p {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-family: "Barlow", sans-serif;
      font-size: 14px;
      color: #cddcdf88; }
    .Footer-Flux-Container #credit.load #contact-button {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
      font-family: "Barlow", sans-serif;
      font-size: 14px;
      color: #eeefeaa6;
      -webkit-transition: color 200ms ease-in-out;
      -moz-transition: color 200ms ease-in-out;
      -o-transition: color 200ms ease-in-out;
      -ms-transition: color 200ms ease-in-out;
      transition: color 200ms ease-in-out; }
    .Footer-Flux-Container #credit.load #contact-button:hover {
      border: none;
      outline: none;
      color: #e08d73;
      cursor: pointer; }
  .Footer-Flux-Container #copyright {
    opacity: 0;
    -webkit-transition: opacity 800ms ease-in;
    -moz-transition: opacity 800ms ease-in;
    -o-transition: opacity 800ms ease-in;
    -ms-transition: opacity 800ms ease-in;
    transition: opacity 800ms ease-in; }
  .Footer-Flux-Container #copyright.load {
    color: #cddcdf88;
    opacity: 0.5;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.Contact-Form-Overlay {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  -o-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  -ms-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in; }

.Contact-Form-Overlay#load {
  margin: 0;
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.562);
  visibility: visible;
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 250ms ease-in;
  -o-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  -ms-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in; }

.Contact-Form-Overlay#unload {
  z-index: -1;
  visibility: visible;
  opacity: 0; }

.Contact-Form-Content {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out; }

.Contact-Form-Content#load {
  margin: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background-color: transparent; }
  .Contact-Form-Content#load #contact-form-popup {
    width: 550px;
    height: 590px;
    padding: 30px 35px;
    border-radius: 25px;
    background-color: #eeefea; }
    .Contact-Form-Content#load #contact-form-popup #contact-form-popup-msg {
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 15px;
      font-family: "Raleway";
      font-weight: lighter;
      line-height: 1.5em;
      letter-spacing: 0.8px;
      color: #46657c; }
    .Contact-Form-Content#load #contact-form-popup #contact-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1 {
        width: 550px;
        padding: 8px;
        margin-bottom: 12px;
        border: 1.5px solid;
        border-color: #c0c0c0;
        border-radius: 6px;
        background-color: #dddddd;
        outline: none;
        font-family: "Raleway";
        font-weight: lighter;
        font-size: 14px;
        color: #46657c;
        letter-spacing: 0.8px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-2 {
        width: 550px;
        margin-bottom: 15px;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 0.4em;
        padding-bottom: 0.4em;
        height: 250px;
        border: 1.5px solid;
        border-color: #c0c0c0;
        border-radius: 6px;
        background-color: #dddddd;
        outline: none;
        text-align: top;
        resize: none;
        font-family: "Raleway";
        font-weight: lighter;
        font-size: 14px;
        color: #46657c;
        letter-spacing: 0.8px;
        line-height: 1.6em; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1:focus {
        border-color: #46657c; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-2:focus {
        border-color: #46657c; }
      .Contact-Form-Content#load #contact-form-popup #contact-form .g-recaptcha {
        margin: 0;
        padding-bottom: 8px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #contact-form-send {
        margin: 0 auto 8px 185px;
        padding: 10px 15px 10px 15px;
        width: 150px;
        background-color: #46657c;
        font-family: "Roboto";
        font-size: 12px;
        letter-spacing: 1px;
        color: #eeefea;
        border-radius: 6px;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-transition: background-color 380ms ease-in-out, color 350ms ease-in-out;
        -moz-transition: background-color 380ms ease-in-out, color 350ms ease-in-out;
        -ms-transition: background-color 380ms ease-in-out, color 350ms ease-in-out;
        -o-transition: background-color 380s ease-in-out, color 350ms ease-in-out;
        -o-transition: background-color 380ms ease-in-out, color 350ms ease-in-out;
        transition: background-color 380ms ease-in-out, color 350ms ease-in-out; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #contact-form-send:hover {
        cursor: pointer;
        background-color: #cddcdf; }
    .Contact-Form-Content#load #contact-form-popup #close-button {
      margin: 0 auto 0 229px;
      padding: 10px 15px 10px 15px;
      width: auto;
      background: none;
      outline: none;
      border: none;
      border-radius: 6px;
      font-family: "Roboto";
      font-size: 12px;
      letter-spacing: 1px;
      text-decoration: none;
      color: #c0c0c0;
      -webkit-transition: color 400ms ease-in-out;
      -moz-transition: color 400ms ease-in-out;
      -ms-transition: color 400ms ease-in-out;
      -o-transition: color 400ms ease-in-out;
      transition: color 400ms ease-in-out; }
    .Contact-Form-Content#load #contact-form-popup #close-button:hover {
      color: #e08d73;
      cursor: pointer; }

.Contact-Form-Content#unload {
  opacity: 0;
  z-index: -1;
  visibility: hidden; }

@media only screen and (min-device-width: 1006px) and (min-device-width: 1920px) {
  .Body-Main-Container #result-content {
    width: 98vw; }
    .Body-Main-Container #result-content #result-wrapper {
      height: 675px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .Body-Main-Container #result-content:hover #arrow-symbol {
    opacity: 1;
    -webkit-transform: translateY(-280px) rotateY(1080deg);
    transform: translateY(-280px) rotateY(1080deg);
    -webkit-animation: blur 180ms;
    animation: blur 180ms; } }

@media only screen and (min-device-width: 803px) and (max-device-width: 1440px) {
  .Body-Main-Container #result-content {
    width: 100vw; }
    .Body-Main-Container #result-content #result-wrapper {
      height: 590px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .Body-Main-Container #result-content:hover #result #arrow-symbol {
    opacity: 1;
    -webkit-transform: translateY(-190px) rotateY(1080deg);
    transform: translateY(-190px) rotateY(1080deg);
    -webkit-animation: blur 180ms;
    animation: blur 180ms; } }

/*# sourceMappingURL=main.css.map */