body {
  margin: 0;
  display: block;
  background-color: white;
  -webkit-transition: background-color 700ms ease-in-out;
  -ms-transition: background-color 700ms ease-in-out;
  -moz-transition: background-color 700ms ease-in-out;
  -o-transition: background-color 700ms ease-in-out;
  transition: background-color 700ms ease-in-out; }

.Body-Main-Container {
  margin: 0px;
  min-height: 95vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Body-Main-Content {
  margin: 0; }

.Body-Main-Footer {
  margin-top: auto; }

.Darkmode-Toggle-Container {
  margin: 12px 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right; }

.Darkmode-Toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px; }

.Darkmode-Toggle input {
  opacity: 0;
  width: 0;
  height: 0; }

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.397);
  box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.397);
  -webkit-transition: box-shadow 400ms ease-in-out;
  -ms-transition: box-shadow 400ms ease-in-out;
  -o-transition: box-shadow 400ms ease-in-out;
  -moz-transition: box-shadow 400ms ease-in-out;
  -webkit-transition: -webkit-box-shadow 400ms ease-in-out;
  transition: -webkit-box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out, -webkit-box-shadow 400ms ease-in-out; }

.Slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  top: 2px;
  left: 4px;
  border-radius: 60%;
  background-color: #2d3436;
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  transition: 350ms; }

input:checked + .Slider {
  background-color: #7f8c8d; }

input:checked + .Slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
  background-color: #ecf0f1; }

.Slider {
  border-radius: 40px; }

.Main-Main-Content-Container {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.Body-Main-Footer-Container {
  margin: 0;
  margin-bottom: 5px; }

#search-bar-content {
  margin: 50px 0px 40px 0px; }
  #search-bar-content #search-wrapper {
    margin: 0; }
    #search-bar-content #search-wrapper #search {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
    #search-bar-content #search-wrapper #search-bar-textbox {
      background: transparent;
      margin: 0px;
      padding: 8px 0px;
      width: 500px;
      border: 2px solid #bebebe;
      border-radius: 20px;
      -webkit-transition: border 300ms ease-in-out;
      -ms-transition: border 300ms ease-in-out;
      -o-transition: border 300ms ease-in-out;
      -moz-transition: border 300ms ease-in-out;
      transition: border 300ms ease-in-out;
      font-size: 14px;
      text-align: center;
      color: #dfe6e9;
      font-size: 16px;
      -webkit-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    #search-bar-content #search-wrapper #search-bar-textbox:focus {
      outline: none;
      border: 2.8px solid #6bf;
      color: #7c7c7c; }

#result-content {
  margin: 0; }
  #result-content #result-wrapper {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center; }
    #result-content #result-wrapper #result {
      margin: 0;
      position: relative;
      font-size: 2.2em;
      text-align: center;
      letter-spacing: 1px;
      color: black;
      opacity: 0;
      -webkit-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -moz-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -o-transition: opacity 2s ease-in, color 400ms ease-in-out;
      -ms-transition: opacity 2s ease-in, color 400ms ease-in-out;
      transition: opacity 2s ease-in, color 400ms ease-in-out;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #result-content #result-wrapper #result #keep-up-message {
        margin: 0; }
      #result-content #result-wrapper #result #arrow-container {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol {
          width: 100px;
          height: 100px;
          font-size: 1.3em;
          color: black;
          pointer-events: none;
          opacity: 0;
          -webkit-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -moz-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -o-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -ms-transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          -webkit-transition: opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out;
          transition: opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out;
          transition: transform 200ms ease-in-out, opacity 130ms ease-in-out;
          transition: transform 200ms ease-in-out, opacity 130ms ease-in-out, -webkit-transform 200ms ease-in-out; }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol.fadein {
          opacity: 1; }
        #result-content #result-wrapper #result #arrow-container #arrow-symbol.fadeout {
          opacity: 0; }
    #result-content #result-wrapper #result.load {
      opacity: 1; }

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0%); }
  25% {
    -webkit-filter: blur(0.6px); }
  50% {
    -webkit-filter: blur(1.3px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  0% {
    -moz-filter: blur(0px); }
  25% {
    -moz-filter: blur(0.6px); }
  50% {
    -moz-filter: blur(1.3px); }
  75% {
    -moz-filter: blur(0.55px); }
  100% {
    -moz-filter: blur(0px); } }

@keyframes blur {
  0% {
    -webkit-filter: blur(0%); }
  25% {
    -webkit-filter: blur(0.6px); }
  50% {
    -webkit-filter: blur(1.3px); }
  75% {
    -webkit-filter: blur(0.55px); }
  100% {
    -webkit-filter: blur(0px); }
  0% {
    -moz-filter: blur(0px); }
  25% {
    -moz-filter: blur(0.6px); }
  50% {
    -moz-filter: blur(1.3px); }
  75% {
    -moz-filter: blur(0.55px); }
  100% {
    -moz-filter: blur(0px); } }

#body-main-footer-credit-wrapper {
  margin: 0;
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #body-main-footer-credit-wrapper #credit {
    color: #b8b8b8;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -o-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out; }
  #body-main-footer-credit-wrapper #copyright {
    color: #b8b8b8;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -o-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out; }

#contact-form-button {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Times Roman";
  font-size: 14px;
  color: #b8b8b8;
  font-size: 16px;
  -webkit-transition: color 400ms ease-in-out;
  -moz-transition: color 400ms ease-in-out;
  -o-transition: color 400ms ease-in-out;
  -ms-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out; }

#contact-form-button:hover {
  border: none;
  outline: none;
  color: #6bf;
  cursor: pointer; }

#contact-form-overlay {
  margin: 0;
  display: none;
  position: fixed;
  min-width: 100vw;
  height: 100%; }
  #contact-form-overlay #contact-form-overlay-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    width: auto;
    background: rgba(0, 0, 0, 0.445);
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in; }
    #contact-form-overlay #contact-form-overlay-background #contact-form-popup {
      z-index: 2;
      width: 550px;
      height: 570px;
      padding: 30px 30px 30px 55px;
      border-radius: 25px;
      background: #34495e; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form-popup-msg {
        width: 535px;
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 13px;
        font-family: 'Verdana';
        line-height: 1.5em; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-1 {
          padding: 8px;
          margin-bottom: 8px;
          width: 50%;
          border: 1.5px solid #aaa;
          border-radius: 6px;
          outline: none;
          -webkit-transition: border 0.1s ease-in-out;
          -o-transition: border 0.1s ease-in-out;
          transition: border 0.1s ease-in-out;
          font-family: 'Verdana';
          font-size: 12px; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-2 {
          margin-bottom: 15px;
          padding-top: 8px;
          padding-left: 8px;
          padding-right: 0.4em;
          padding-bottom: 0.4em;
          height: 250px;
          width: 500px;
          border: 1.5px solid #aaa;
          border-radius: 6px;
          outline: none;
          -webkit-transition: border 100ms ease-in-out;
          -o-transition: border 100ms ease-in-out;
          -ms-transition: border 100ms ease-in-out;
          -moz-transition: border 100ms ease-in-out;
          transition: border 100ms ease-in-out;
          text-align: top;
          resize: none;
          font-family: 'Verdana';
          font-size: 12px;
          line-height: 1.6em; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-1:focus {
          border: 1.5px solid #6bf; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-2:focus {
          border: 1.5px solid #6bf; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #contact-form-submit {
          margin: 0 155px 8px 164px;
          padding: 10px 15px 10px 15px;
          width: 200px;
          color: #919191;
          background-color: transparent;
          border-radius: 6px;
          border: none;
          outline: none;
          -webkit-appearance: none;
          -o-appearance: none;
          -ms-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-transition: background-color 400ms ease-in-out, color 350ms ease-in-out;
          -moz-transition: background-color 400ms ease-in-out, color 350ms ease-in-out;
          -ms-transition: background-color 400ms ease-in-out, color 350ms ease-in-out;
          -o-transition: background-color 400s ease-in-out, color 350ms ease-in-out;
          -o-transition: background-color 400ms ease-in-out, color 350ms ease-in-out;
          transition: background-color 400ms ease-in-out, color 350ms ease-in-out;
          font-size: 12px; }
        #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #contact-form-submit:hover {
          cursor: pointer;
          background-color: #6bf;
          color: white; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #close-button {
        margin: 0 auto 0 233px;
        padding: 10px 15px 10px 15px;
        width: auto;
        background: none;
        outline: none;
        border: none;
        border-radius: 6px;
        font-family: 'Verdana';
        font-size: 12px;
        text-decoration: none;
        color: #aaa;
        -webkit-transition: color 400ms ease-in-out;
        -moz-transition: color 400ms ease-in-out;
        -ms-transition: color 400ms ease-in-out;
        -o-transition: color 400ms ease-in-out;
        transition: color 400ms ease-in-out; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #close-button:hover {
        color: #e74c3c;
        cursor: pointer; }
  #contact-form-overlay #contact-form-overlay-background.load {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    -o-transition: opacity 300ms ease-in;
    -ms-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in; }
  #contact-form-overlay #contact-form-overlay-background.unload {
    opacity: 0; }

@media only screen and (min-device-width: 1006px) and (min-device-width: 1920px) {
  .Body-Main-Container #result-content {
    width: 98vw; }
    .Body-Main-Container #result-content #result-wrapper {
      height: 675px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .Body-Main-Container #result-content:hover #arrow-symbol {
    opacity: 1;
    -webkit-transform: translateY(-280px) rotateY(1080deg);
    transform: translateY(-280px) rotateY(1080deg);
    -webkit-animation: blur 180ms;
    animation: blur 180ms; } }

@media only screen and (min-device-width: 803px) and (max-device-width: 1440px) {
  .Body-Main-Container #result-content {
    width: 100vw; }
    .Body-Main-Container #result-content #result-wrapper {
      height: 590px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .Body-Main-Container #result-content:hover #result #arrow-symbol {
    opacity: 1;
    -webkit-transform: translateY(-190px) rotateY(1080deg);
    transform: translateY(-190px) rotateY(1080deg);
    -webkit-animation: blur 180ms;
    animation: blur 180ms; } }

/*
//iPad Landscape
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
{
    
}
//iPad Portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
{

}*/

/*# sourceMappingURL=main.css.map */