@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  body .Grid-Container .Darkmode-Toggle-Container {
    padding: 0;
    padding-top: 8px;
    height: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-grid-row: 3;
    grid-row: 3; }
  body .Grid-Container .Body-Main-Container #search-bar-content {
    margin: 120px 0 40px 0; }
    body .Grid-Container .Body-Main-Container #search-bar-content #search #search-bar-textbox {
      font-size: 1em;
      width: 330px; }
  body .Grid-Container #result-content #result-wrapper {
    height: 420px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .Grid-Container #result-content #result-wrapper #result {
      width: 320px; }
  body .Grid-Container #result-content:hover {
    pointer-events: none; }
  #contact-form-overlay #contact-form-overlay-background #contact-form-popup {
    width: 300px;
    height: 570px;
    padding: 20px; }
    #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form-popup-msg {
      width: 320px;
      margin: 5px 0 20px 0; }
    #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form {
      width: 300px; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-1 {
        width: 60%;
        font-size: 16px; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #input-text-2 {
        width: 283px;
        height: 220px;
        font-size: 17px; }
      #contact-form-overlay #contact-form-overlay-background #contact-form-popup #contact-form #contact-form-submit {
        margin-left: 53px;
        margin-right: auto; }
    #contact-form-overlay #contact-form-overlay-background #contact-form-popup #close-button {
      margin: 0 auto 0 128px;
      padding: 5px 10px; } }
