@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  body .Grid-Container .Body-Main-Container #search-bar-content {
    margin: 120px 0 40px 0; }
    body .Grid-Container .Body-Main-Container #search-bar-content .Search-Bar-Textbox#load {
      font-size: 1em;
      width: 330px; }
  body .Grid-Container #result-content {
    height: auto; }
    body .Grid-Container #result-content #result-wrapper #result {
      margin-top: 100px;
      width: 320px; }
  body .Grid-Container #result-content:hover {
    pointer-events: none; }
  .Contact-Form-Content#load #contact-form-popup {
    width: 300px;
    height: 570px;
    padding: 20px; }
    .Contact-Form-Content#load #contact-form-popup #contact-form-popup-msg {
      width: 300px;
      margin: 5px 0 20px 0; }
    .Contact-Form-Content#load #contact-form-popup #contact-form {
      width: 300px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1 {
        width: 60%;
        font-size: 16px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-2 {
        width: 283px;
        height: 220px;
        font-size: 17px; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #contact-form-send {
        margin-left: 53px;
        margin-right: auto; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1:focus {
        width: 80%; }
      .Contact-Form-Content#load #contact-form-popup #contact-form #input-text-1:not(:placeholder-shown) {
        width: 80%; }
    .Contact-Form-Content#load #contact-form-popup #close-button {
      margin: 0 auto 0 128px;
      padding: 5px 10px; } }
